//----Variables-----//
:root {
  //colors
  --color-yellow: #ffffdb;
  --color-white: #ffffff;
  --color-heading: rgba(1, 12, 21, 0.7);
  --color-text: #010c15;
  --color-bg: #fbfdfe;
  --color-black: #0d0f18;

  //fontsizes
  --fs-base: 1.6rem;
  --fs-m: 1.8rem;
  --fs-xm: 2.4rem;
  --fs-l: 3.6rem;
  //--//small screen size
  --fs-l-small: 3rem;
}
