.chat-wrapper {
  display: flex;
  width: 100%;

  &__sidebar {
    background: #202123;
    width: 310px;
    height: 100vh;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    transition: width 0.2s;
    -moz-transition: width 0.2s; /* Firefox 4 */
    -webkit-transition: width 0.2s; /* Safari and Chrome */
    -o-transition: width 0.2s;

    &__nav {
      &__top {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 0.25rem;

        &__new {
          letter-spacing: 0;
          color: #fff;
          border: 1px solid hsla(0, 0%, 100%, 0.2);
          background: transparent;
          border-radius: 0.375rem;
          display: flex;
          gap: 0.75rem;
          align-items: center;
          cursor: pointer;
          flex-grow: 1;
          height: 2.75rem;
          flex-shrink: 0;
          padding: 0.75rem;
          font-size: 0.83rem;
          line-height: 1.25rem;

          & svg {
            width: 1rem;
            height: 1rem;
          }

          &:hover {
            background: hsla(240, 9%, 59%, 0.1);
            transition-duration: 0.2s;
          }
        }
      }
    }

    &__history {
    }

    &__footer {
      margin-top: auto;
      padding-top: 0.5rem;
      border-top: 1px solid hsla(0, 0%, 100%, 0.2);

      &__top-btn {
        cursor: pointer;
        padding: 0.75rem;
        background: transparent;
        border: none;
        color: #fff;
        width: 100%;
        border-radius: 0.375rem;

        &:hover {
          background-color: rgba(52, 53, 65, 1);
        }

        & svg {
          width: 1rem;
          height: 1rem;
        }

        &__wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;

          &__user {
            display: flex;
            align-items: center;
            gap: 0.75rem;
          }
        }
      }
    }
  }

  &__chat-section {
    background: #343541;
    width: 100%;
    height: 100vh;
    padding: 8px;
    color: rgba(236, 236, 241, 1);
    display: flex;
    flex-direction: column;

    &__center {
      max-width: 48rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__heading {
        margin-top: 20vh;
        margin-bottom: 4rem;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      &__list {
        display: flex;
        gap: 0.875rem;
        align-items: flex-start;
        text-align: center;

        &__section {
          &__top {
            margin-bottom: 0.875rem;
            & p {
              font-size: 1.125rem;
              line-height: 1.75rem;
            }
          }

          &__list {
            display: flex;
            flex-direction: column;
            gap: 0.875rem;
          }

          &__btn {
            background-color: hsla(0, 0%, 100%, 0.05);
            padding: 0.75rem;
            border-radius: 0.375rem;
            width: 100%;
            border: none;
            color: #fff;
            cursor: text;
          }

          &__btn[role^='button'] {
            cursor: pointer;

            &:hover {
              background: rgba(32, 33, 35, 1);
            }
          }
        }
      }
    }

    &__footer {
      margin-top: auto;

      &__input-wrapper {
        max-width: 48rem;
        margin-left: auto;
        margin-right: auto;

        &__area {
          flex: 1 1 0%;
          align-items: center;
          display: flex;
          width: 100%;
          background: #40414f;
          height: 100%;
          padding: 0.5rem;
          border-radius: 0.75rem;
          display: flex;
          justify-content: space-between;

          & input {
            background: none;
            outline: none;
            border: none;
            color: #fff;
            width: 100%;
            font-size: 16px;

            &::placeholder {
              font-size: 16px;
              color: rgba(236, 236, 241, 0.3);
            }
          }

          &__btn {
            background-color: transparent;
            color: rgba(236, 236, 241, 0.3);
            border: none;
            padding: 0.5rem;
            border-radius: 0.375rem;
            cursor: pointer;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &__active-btn {
            background-color: rgb(25, 195, 125);
            color: rgba(236, 236, 241, 1);
            border: none;
            padding: 0.5rem;
            border-radius: 0.375rem;
            cursor: pointer;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      &__small-text {
        color: rgba(197, 197, 210, 1);
        padding-top: 0.75rem;
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 0.75rem;
        line-height: 1rem;
        text-align: center;

        & a {
          color: rgba(197, 197, 210, 1);
        }
      }
    }
  }
}

.badge-new {
  padding-bottom: 0.125rem;
  padding-top: 0.125rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  border-radius: 0.375rem;
  color: rgba(52, 53, 65, 1);
  background: #fae69e;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
}
